# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pkl

# Logs
*.log

# macOS system files
.DS_Store

# Virtual environments
.venv/
venv/
env/

# Database files
maasarthi.db
*.sqlite
*.sqlite3

# Dataset files (Large files)
*.csv
*.json
*.xlsx
*.sql

# User Uploads (Large images/videos/pdfs)
static/uploads/

# ML Model files
trained_models/
*.h5
*.joblib
*.pkl

# Backup & Temp files
*.bak
*.swp
*.tmp
*.temp

# IDE specific files
.vscode/
.idea/
.gemini/

# Keep these in Git:
# static/css/
# static/js/
# static/Images/
# templates/
